<h2>Welcome to your dashboard</h2><br/>

<h4>My songs<small style="padding-left:20px;">Total songs bought: <%= current_user.purchases.count %></small></h4>
<table class="table table-hover" id="usrSongs">
  <tr class="info"><td>Band</td><td>Song</td><td>Price</td><td>Purchased</td><td>Download</td></tr>
  
</table>
<%= form_for current_user.purchases, :remote => true, :url => { :controller => "purchases", :action => "displayall" } do |f| %>
<% end %>
<button id="btnAllSongs" class="btn btn-large btn-block btn-info" onclick="displayAllSongs();">Load all my songs</button>