/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 .sitecrumbs{position:static;opacity:.4;margin-top:-20px;float:right;color:white;margin-right: 40px;}
 .sitecrumbs:hover{opacity:1}
 .foot{font-weight: 100;text-align:center;font-size:20px;padding:20px;color:white;background-color:#333;-webkit-box-shadow: 5px 5px #000000;}
 .foot label{margin:0px 15px;font-size:20px;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;}
 .footinner label:hover{font-size:24px;opacity:1} 
 .footinner a {opacity:.4;font-size:22px;font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;color:white;}
 .footinner a:hover {font-size:26px;opacity:1;color:white;}
 .footinner img{opacity:.3}
 .footinner img:hover{opacity:1}
 .nav-tabs a{color:white;} 
 .nav-tabs a:hover{color:black;}
 .social {padding:10px;background: url("http://i.imm.io/LDP6.png");border: 1px solid black;}